
body {
  padding: 30px;
}

.container {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.table {
  width: 100%;
  
}

.table-header{
  display: flex;
  width: 100%;
  background: lightgrey;
  color: grey;
  border-bottom: 1px solid gray;
  padding: 5px;
}

.table-body {
  width: 100%;
  border-bottom: 1px solid gray;
  padding: 5px;
}